version: 1.0.{build}
image: Visual Studio 2019
configuration:
- Debug
- Release
platform:
- Any CPU
before_build:
- ps: nuget restore RBUtility.sln
build:
  verbosity: minimal
  parallel: true
matrix:
  fast_finish: true
artifacts:
  - path: RBUtility\bin\Release\*.dll
    name: RBUtility
deploy:
  release: RBUtility-v$(appveyor_build_version)
  description: 'Library for Logging'
  provider: GitHub
  auth_token:
    secure: c1lppUbVvWNp/mr8QaTpCnlWU0d56XzMV1ga5LkGlekIQnMUUkDFbi5mM/8+ukyy
  artifact: RBUtility            
  draft: false
  prerelease: false
  skip_tags: true
  on:
    branch: master                 # release from master branch only
    APPVEYOR_REPO_TAG: false       # do not deploy on tag push
